<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Numba Facts</title>
    <link type="text/css" rel="stylesheet" href="./css/maincss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="topnav" id="myTopnav">
	  <a href="./">Home</a>
	  <a href="labs">Labs</a>
      <a href="weatherform">Weather Form</a>
	  <a href="getweather">Weather</a>
      <a href="funform" class="active">Fun Form Result</a>
	</div>
    <h1>Fun Form Result</h1>

    <div>
        <p>Hello {{name}}! I hope you are having a nice day.</p>
        <p>You are {{age}} years old. Thats pretty cool.</p>
        <p>Looks like your birthday is getting closer at {{birthday}}.</p>
        <p style='color:{{color}}'>This text is in your favorite color: {{color}}</p>
        <p>Your favorite pokemon is {{pokemon}}? Like unironically? ok...</p>
    </div>

    <button onclick="pageRedirect()">Take me back to the home page!</button>

    <script>
		function pageRedirect() {
    	    window.location.replace("/");
    	}
	</script>
  </body>

</html>